<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-signup.css">
    <title>URL Shortner</title>
</head>
<body>
    <navbar class="navbar">
        <h2>LOGO</h2>
        <ul>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Pricing</a></li>
            <li><a href="#" class="nav-link">About Us</a></li>
            <li><a href="#" class="nav-link">Contact Us</a></li>
        </ul>
        <a href="/login" class="login">Login</a></li>
    </navbar>