<%- include("header") -%>

    <section class="cover-picture">
        <img src="images/cover_picture1.jpg" alt="Cover Picture" class="cover-picture">
        <div class="cover-text">
            <h1> Tired Of Long URl's</h1>
            <h2>Shorten Any Url's with us</h2>
            <a href="#" class="shorten-now">Shorten Now</a>
        </div>
    </section>
    
<%- include("footer") -%>