<%- include("header") -%>
<section class="login-signup-section">
    <h2>Login to Start Shortning</h2>
    <form class="login-form" action="/login" method="post">
        <label for="username" class="username-label">Email or Username<span>*</span></label><br>
        <input type="text" name="username" id="" class="username-input" required="true" autocomplete="off">
        <label for="username" class="username-label">Email or Username<span>*</span></label><br>
        <input type="text" name="username" id="" class="username-input" required="true" autocomplete="off">
    </form>
</section>
<%- include("footer") -%>
